.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5vh 0;
    background-color: darkslategrey;
    margin-bottom: 10px;
}

.menu button {
    border-radius: 100vw;
    background: white;
    padding: 0.5vw 1vw;
    color: darkslategrey;
    min-width: 10vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
}

.menu a {
    margin-left: auto;
    margin-right: auto;
}

.menu button:hover {
    background: whitesmoke;
}

body {
    margin: 0px;
    background: whitesmoke;
    background-image: linear-gradient(darkslategrey .01em, transparent 0.1em), linear-gradient(90deg, darkslategrey .01em, transparent 0.1em);
    background-size: 2em 2em;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vector {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
}

img {
    box-sizing: border-box;
    margin: 0 5px;
    width: 2vw;
    height: 90vh;
}

.box {
    width: 20vw;
    height: 20vw;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Font büyüklüğü (width / 20)px  */
    font: 1.3vh 'Fira Sans', sans-serif;
    margin: 2px;
}

.box canvas {
    display: flex;
    position: absolute;
}

/* .box input {
    box-sizing: border-box;
    padding: 5% 7%;
    margin: 3% 0;
    border: 1px solid gray;
    border-radius: 4px;
    font: inherit;
    display: none;
} */

#equals:hover canvas {
    opacity: unset;
}