.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vector {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
}
img {
    box-sizing: border-box;
    margin: 0 5px;
    width: 2vw;
    height: 90vh;
}
.box {
    width: 26vh;
    height: 26vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Font büyüklüğü (width / 20)px  */
    font: 1.3vh 'Fira Sans', sans-serif;
}

.box canvas {
    display: flex;
    position: absolute;
}

/* .box input {
    box-sizing: border-box;
    padding: 5% 7%;
    margin: 3% 0;
    border: 1px solid gray;
    border-radius: 4px;
    font: inherit;
    display: none;
} */

#equals:hover canvas {
    opacity: unset;
}
