.vector {
    display: flex;
    flex-direction: column;
}
.box {
    width: 15vw;
    height: 15vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 15fr 15fr 40fr 25fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
    "Vec1 Vec2 .        result"
    "Vec1 Vec2 relation result" 
    "Vec1 Vec2 relation result" 
    "Vec1 Vec2 .        result";
}

.Vec1 {
    grid-area: Vec1;
}

.Vec2 {
    grid-area: Vec2;
}

.relation {
    grid-area: relation;
    overflow-x: auto;
    font-size: xx-large;
}

.result {
    grid-area: result;
}


.info {
    max-height: none;
}
