

p {
  margin: 0px;
  padding: 2%;
  font-size: 3vw;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr;
  grid-template-areas: "v w vw" "ol ol vw";
}

.grid-container>div {
  border-color: darkslategray;
  border-style: dashed;
  border-width: 0.1em;
  border-radius: 1em;
  margin: 1em;
  background-color: rgba(47, 79, 79, 0.05);
  text-align: center;
}

.box {
  float: none;
  display: inline-flexbox;
  box-shadow: 5px 5px 20px 5px darkslategray;
  width: 15vw;
  height: 15vw;
  margin:auto;
}

.v {
  grid-area: v;
}

.w {
  grid-area: w;
}

.ol {
  grid-area: ol;
}

.vw {
  grid-area: vw;
  display: flex;
  flex-direction: column;

}
.info p{
  font-size: inherit;
}
#overlap {
  height: 40vh;
  width:40vh;
}

